<form action="/user/$currentUser.getId()/log-out" method="post">
	<button type="submit" id="logout-button">Log Out</button>
</form>
<a href="/user/$currentUser.getId()">My Profile</a>
<a href="/user/$currentUser.getId()/gardens">My Gardens</a>
<a href="/user/$currentUser.getId()/plant-new">Add Plant</a>
