<!DOCTYPE html>
<html>
 <head>
  <title>Garden Plotter</title>
  <link rel='stylesheet' href='/app.css'>
	<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>  

 </head>
 <body>

		<div class="header-main headers">
				<h3>Garden Plotter</h3>
				<div class="navigation">
					<a href="/">Home</a>
					<a href="/plants">Browse Plants</a>
					#if($notAuth)
						<a href="/sign-up">Sign Up</a>
						<a href="/log-in">Log In</a>
					#end
				</div>
		</div>
    #parse( $template )

 </body>
</html>
